body{
margin: 0;
padding: 0;
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/bg\ \(1\).jpeg);
height: 100vh;
background-size: cover;
background-position: center;
min-height: 100px;
}

.container{
    margin-left: 200px;
}

.bx-1{
    margin: 5px;
    margin-left: 50px;
    background-color: white;
    box-shadow: 20px;
}
.container a{
    text-decoration: none;
    color: rgb(97, 100, 104);
}
